= form_for @dog do |f|
  = f.label :name
  = f.text_field :name
  = f.label :race
  = f.text_field :race
  = f.label :edad
  = f.number_field :edad
  = f.label :peso
  = f.number_field :peso
  = f.label :color
  = f.text_field :color
  = f.submit :submit
