<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @dog.name %>
</p>

<p>
  <strong>Race:</strong>
  <%= @dog.race %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @dog.weight %>
</p>

<p>
  <strong>Age:</strong>
  <%= @dog.age %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @dog.sex %>
</p>

<p>
  <strong>Color:</strong>
  <%= @dog.color %>
</p>

<p>
  <strong>Photo:</strong>
  <%= @dog.photo %>
</p>

<%= link_to 'Edit', edit_dog_path(@dog) %> |
<%= link_to 'Back', dogs_path %>
