<ul id='myTab' class="nav nav-tabs">
  <li class="active"><a href="#detalles" data-toggle="tab">Detalles</a></li>
  <li><a href="#vacunas" data-toggle="tab">Vacunas</a></li>
  <li><a href="#comida" data-toggle="tab">Comida</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane fade in active" id="detalles">
    <div class='menu-header'>
      <%= link_to "", root_path, class: 'back-button' %>
      <h1><%= @dog.name %></h2>
      <%= link_to 'Editar', edit_dog_path(@dog), class: 'btn-green editar' %>
    </div>

    <div class="avatar-image">
      <%= image_tag(@dog.avatar_url, size: "200x280") %>
    </div>

    <div class="profile-details">
      <p>
        <strong><%= @dog.race %></strong>
      </p>

      <p>
        <strong><%= @dog.weight %> Kg</strong>
      </p>

      <p>
        <strong><%= @dog.dob %></strong>
      </p>

      <p>
        <strong><%= @dog.sex %></strong>
      </p>

      <p>
        <strong><%= @dog.color %></strong>
      </p>
    </div>
  </div>
  <div class="tab-pane fade" id="vacunas">...</div>
  <div class="tab-pane fade" id="comida">...</div>
</div>
