<ul id='myTab' class="nav nav-tabs">
  <li class="active"><a href="#detalles" data-toggle="tab">Detalles</a></li>
  <li><a href="#vacunas" data-toggle="tab">Vacunas</a></li>
  <li><a href="#comida" data-toggle="tab">Comida</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane fade in active" id="detalles">
    <div class='menu-header'>
      <h1><%= @dog.name %></h2>
    </div>

    <div class="avatar-image">
      <%= image_tag(@dog.avatar_url) %>
    </div>

    <div class="profile-details">
      <p>
        <strong><%= @dog.race %></strong>
      </p>

      <p>
        <strong><%= @dog.weight %> Kg</strong>
      </p>

      <p>
        <strong><%= @dog.age %> Años</strong>
      </p>

      <p>
        <strong><%= @dog.sex %></strong>
      </p>

      <p>
        <strong><%= @dog.color %></strong>
      </p>
    </div>

    <%= link_to 'Edit', edit_dog_path(@dog) %> |
    <%= link_to 'Back', dogs_path %>
  </div>
  <div class="tab-pane fade" id="vacunas">...</div>
  <div class="tab-pane fade" id="comida">...</div>
</div>
