<ul id='myTab' class="nav nav-tabs">
  <li class="active"><a href="#detalles" data-toggle="tab">Detalles</a></li>
  <li><a href="#vacunas" data-toggle="tab">Vacunas</a></li>
  <li><a href="#comida" data-toggle="tab">Comida</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane fade in active" id="detalles">
    <p>
      <strong>Name:</strong>
      <%= @dog.name %>
    </p>

    <p>
      <strong>Race:</strong>
      <%= @dog.race %>
    </p>

    <p>
      <strong>Weight:</strong>
      <%= @dog.weight %>
    </p>

    <p>
      <strong>Fecha de Nacimiento:</strong>
      <%= @dog.dob %>
    </p>

    <p>
      <strong>Sex:</strong>
      <%= @dog.sex %>
    </p>

    <p>
      <strong>Color:</strong>
      <%= @dog.color %>
    </p>

    <p>
      <strong>Photo:</strong>
      <%= image_tag(@dog.avatar_url) %>
    </p>

    <%= link_to 'Edit', edit_dog_path(@dog) %> |
    <%= link_to 'Back', dogs_path %>
  </div>
  <div class="tab-pane fade" id="vacunas">...</div>
  <div class="tab-pane fade" id="comida">...</div>
</div>
