- if current_user
  .menu-header
    = link_to "", new_dog_path, class: 'add-dog-button'
    %h1 Mis Canes
    %span.btn-green Editar

  %ul#my-dogs
    - dogs_for_current_user.each do |dog|
      %li
        %span.foto-image
        = link_to dog.name, dog_path(dog)
        %span.arrow-image
- else
  #login-container
    .login-form
      = form_tag user_session_path do
        = text_field_tag 'user[email]', nil, placeholder: 'email'
        %br
        = password_field_tag 'user[password]', nil, placeholder: 'password'
        %br
        = check_box_tag 'user[remember_me]'
        = label_tag 'user[remember_me]', t('account.remember_me')
        %br
        %button= t('account.sign_in')
        %br
        = link_to t('account.sign_up'), new_user_registration_path
        %br
        = link_to t('account.forgot_password'), new_password_path('user')
      = link_to user_omniauth_authorize_path(:facebook), class: 'fb-continue-button' do
        %span= t 'account.continue'
