!!!
%html
  %head
    %title Perronapp
    = stylesheet_link_tag    "application", media: "all"
    %link{href: "http://fonts.googleapis.com/css?family=Sonsie+One", rel: "stylesheet", type: "text/css"}/
    = javascript_include_tag "application"
    %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no", :name => "viewport"}
    = csrf_meta_tags
  %body
    #top-right-banner.scroll-fade
    #main-container
      = yield
    .container
      = image_tag('hueso.png', id: 'hueso-icon', class: 'bottom-icon scroll-fade')
      = image_tag('reja.png', id: 'reja-icon', class: 'bottom-icon scroll-fade')
      = image_tag('hydrant.png', id: 'hydrant-icon', class: 'bottom-icon scroll-fade')
